.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-4));
    }
}

.avatar {
    position: sticky;
    height: fit-content;
    top: var(--static-space-64);
}

.badgeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: auto;
    gap: 10px;
    width: 200px; /* Adjust base on badge size */
  }
  
  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    max-width: 220px;
    height: auto;
    
    border-radius: 50px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .badge:hover {
    transform: scale(1.05);
  }
  
  .badgeImage {
    max-width: 100px; /* Increased badge visibility */
    height: auto;
    padding: 10px;
  }
  

@media (--s) {
    .avatar {
        top: auto;
    }

    .textAlign {
        text-align: center;
    }

    .blockAlign {
        align-self: center;
    }
}