.card {
    cursor: pointer;

    &:hover {
        .icon {
            opacity: 1;
            transform: translateY(-50%) translateX(var(--static-space-24));
        }
    }
}

.icon {
    top: 50%;
    right: 0;
    opacity: 0;
    transform: translateY(-50%);
    transition: var(--transition-property) var(--transition-duration-micro-medium) var(--transition-timing-function);
}