.hover {
    transition: var(--transition-property) var(--transition-duration-micro-medium) var(--transition-timing-function);

    &:hover {
        transform: translateX(1rem);
        
        .image {
            transform: scale(1.04);
        }
    }
}

.image {
    transform: scale(1);
    transition: var(--transition-property) var(--transition-duration-micro-medium) var(--transition-timing-function);
}