.hover {
    border: 1px solid var(--static-transparent);

    &:hover {
        border: 1px solid var(--neutral-alpha-medium);
    }
}

.image {
    transition: var(--transition-micro-medium);
    transform: scale(1);
}